
/* Your CSS Code here. */
.holder{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    flex-direction: row;
}
.three,.two,.one{
	width: 70px;
	height: 80px;
	font-size:28px;
}
.three{
	background-color: green;
}
.one{
	background-color: red;
}
.two{
	background-color: blue;
}